html {
    /* apply a natural box layout model to all elements */
    box-sizing: border-box;
    background-color: $background-color;
    font-size: 16.5px;

    @include breakpoint($medium) {
        font-size: 15px;
    }

    @include breakpoint($large) {
        font-size: 15px;
    }

    @include breakpoint($x-large) {
        font-size: 15px;
    }

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
